.container{
    text-align: center;
    text-transform: capitalize;
    span{
        font-size: 14px;
        text-wrap: nowrap;
        @media(max-width:769px){
            font-size: 10px;
            text-wrap: wrap;
            line-height: normal;
        }
    }
    

}