.container-open-edital{
    width: 80vw;
    height: fit-content;
    margin-top: 5vh;
    margin-bottom: 10vh;
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

@media screen and (max-width: 1000px){
    .container-open-edital{
        margin: 15vh auto;
    }
}