.container-sac{
    width: 80vw;
    height: 60vh;
    margin-top: 20vh;
    margin-left: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail-box{
    background-color: rgb(255, 255, 255);
    width: 40vw;
    height: 60vh;
}



  form > div {
    clear: both;
    overflow: hidden;
    padding: 1px;
    margin: 0 0 10px 0;
  }

  form > div > label,
  legend {
    width: 25%;
    float: left;
    padding-right: 10px;
  }
  form > div > div{
    width: 75%;
    float: right;
  }
  
  textarea {
    width: 100%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  textarea:focus {
    outline: 0;
    border-color: #4697e4;
  }
  
  @media screen and (max-width: 1000px){
    .container-sac{
      margin: 15vh 12.5vw;
    }
  }


  @media (max-width: 600px) {
    form > div {
      margin: 0 0 15px 0; 
    }
    form > div > label,
    legend {
      width: 100%;
      float: none;
      margin: 0 0 5px 0;
    }
    form > div > div {
      width: 100%;
      float: none;
    }
    textarea{
      width: 100%; 
    }
  }
