@import '../../Assets/theme/global.module.scss';
.container{
    padding: 24px;
    height: 30%;
    width: 30%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: $primary;
    @media(max-width:800px){
        height: auto;
        width: 80%;
    }
    .loader{
      animation: spin 1.5s linear infinite;
      width: 50%;
      height: 50%;
      margin-bottom: 12px;
    }
    .label{
        font-size: 32px;
        text-align: center;
    }
}

@keyframes spin {
    100%{
        transform: rotateZ(360deg);
    }
}