@import '../../Assets/theme/global.module.scss';
.logo{
    -webkit-user-drag: none;
    width: 320px;
    height: 80px;
    @media(max-width:390px){
        width: 320px;
        height: 70px;
    }
    @media(max-width:330px){
        width: 320px;
        height: 60px;
    }
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 20px;
    width: 100%;    
    .brand{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        max-width: 30%;
        padding: 10px 10px;
        h1{
            font-size: 18px;
        }
        @media (max-width:700px) {
            display: none;
        }
        @media (max-width:770px) {
            width: 160px;
            font-size: 16px;
        }

    }
}
.register{
    display: flex;
    flex-direction: column;
    background-color: $primary;
    border-radius: 8px;
    padding: 32px 64px;
    min-height: 65vh;
    justify-content: space-between;
    @media (max-width:2000px) {
        padding: 10px 20px;
        gap: 2px;
        width: 50%;
    }
    @media (max-width:700px) {
        padding: 10px 20px;
        gap: 2px;
        width: 100%;
    }
    .title{
        text-align: center;
        span{
            color: white;
        }
        h1{
            color: white;
            font-weight: bold;
        }
    }
    .inputs{
        label{
            color: white !important;
        }
        display: flex;
        flex-direction: column;
        
    }
    button{
        place-self: center;
    }
    .actions{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
   
}