
.clue{
    margin-left: 0.45rem;
    font-size: 0.9rem;
  }

  .select-data{
    width: 25vw;
  }
  
  form{
    margin:auto;
    width: 100%;
    
    padding: 2.5rem 0.625rem;
    border-radius: 0.5rem;
  }
  @media(min-width: 480px)
  {
    form{
      padding: 2.5rem;
    }
  }
  .survey-box{
    margin: 0 auto 1.3rem auto;
    padding: 0.25rem;
  }
  
  .survey-control{
    width:25vw;
    height: 2rem;
    display: block;
    padding: 0.3rem 0.55rem;
    border: 1px solid rgb(164, 164, 164);
  }
  .survey-control:focus{
    border:1px solid rgb(0, 0, 0);
    outline: 0;
  }
  .industries-checkbox,.skill-radio{
    display: inline-box;
    margin-right: 1.2rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
  }
  .recommendations-textarea{
    display: block;
    padding: 0.5rem;
    width: 85%;
    min-height: 120px;
  }
  .submit-button{
    display: block;
    width:50%;
    margin: auto;
    padding: 0.75rem;
    background: var(--color-green);
    color: var(--color-white);
    cursor: pointer;
  }

.container-cadastro-candidato{
    position: static;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    overflow-x: hidden;
}

.upper-cadastro-candidato h1{
    font-size: 1.5rem;
}


.fill-box{
    width: 80vw;
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;

}

.fill-container{
    width: 80vw;
    max-height: 60vh;
    background-color: #6b6b6b;
    margin: auto;
    margin-top: 0;
    box-shadow: 0 0 15px rgb(223, 223, 223);
    border-radius: 2rem 0 0 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    overflow-y: scroll;
}



.input-cadastro{
    width: 80%;
    height: 2rem;
    margin: 1.5rem auto;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 0.5rem;

}



.input-secondary{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    color: rgb(156, 156, 156);
}

.input-dropbox{
    height: fit-content;
}

.input-dropbox{
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.input-dropbox div{
    display: flex;
    gap: 0.5rem;
    width: 300px;
    margin: 1rem auto;
    margin-left: 1rem;
    color: rgb(158, 158, 158);

}

.title{
    border: none;
    margin-bottom: -2rem;
}

.question{
    margin-bottom: 1rem;
}


.input-cadastro h2{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    width: 100%;
    color: rgb(134, 134, 134);
}

.question h2{
    font-size: 1rem;
    text-align:left;
}



.input-cadastro input{
    color: rgb(175, 175, 175);
    border: none;
    border-bottom: 2px solid rgb(175, 175, 175);
}

.input-cadastro input:focus{
    outline: none;
    border: none;
}

.input-cadastro input::placeholder{
    color: rgb(175, 175, 175);
}

.input-cadastro input:focus::placeholder{
    opacity: 0;
}

.container-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.control-buttons{
    display: flex;
    justify-content: center;
}
.control-btn{
    transition: 0.5s;
}

.control-btn:hover{
    opacity: 0.6;
    cursor: pointer;
}

.hidden-title{
    visibility: hidden;
}




.onoff {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    vertical-align: auto;
    zoom: 1;
    position: relative;
    cursor: pointer;
    width: 70px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .onoff label {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #EF3E36;
    border-radius: 5px;
    font-weight: bold;
    color: #FFF;
    -webkit-transition: background 0.3s, text-indent 0.3s;
    -moz-transition: background 0.3s, text-indent 0.3s;
    -o-transition: background 0.3s, text-indent 0.3s;
    transition: background 0.3s, text-indent 0.3s;
    text-indent: 24px;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
  }
  .onoff label:after {
    content: 'NÃO';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    font-size: 12px;
    color: #591717;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
    z-index: 1;
  }
  .onoff label:before {
    content: '';
    width: 15px;
    height: 24px;
    border-radius: 3px;
    background: #FFF;
    position: absolute;
    z-index: 2;
    top: 3px;
    left: 3px;
    display: block;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  }
  .onoff input:checked + label {
    background: #499468;
    text-indent: -10px;
    text-align: center;
  }
  .onoff input:checked + label:after {
    content: 'SIM';
    color: #091707;
  }
  .onoff input:checked + label:before {
    left: 42px;
  }
  .onoff input{
    display: none;
  }
  #yesno{
    margin-left: 0;
    width: 60px !important;
    
  }