.mes-ano-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mes-ano-box label{
    font-size: 0.8rem;
    text-align: left;
    width: 25vw !important;
}

.mes-ano-box .survey-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.survey-box input{
    margin: auto;
    
}
.form-ver-renda{
    display: block !important;
}