.container-teste {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem auto;
}

.box-renda-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.renda-btn{
  background-color:#1F4B73;
  border: 2px solid white;
  box-shadow: 0 0 10px rgb(181, 181, 181);
  transition: all 0.6s;
}

.renda-btn:hover{
  opacity: 0.7;
}

.member-info h4{
  font-weight: 300;
}

.family-name{
  text-decoration: underline;
  font-weight: 500 !important;
}

.member-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

}