.container-open-edital{
    padding-left: 2rem;
}

@media screen and (max-width:1000px){
    .container-open-edital{
        padding-left: 0;
    }
}


.register {
    text-align: right; 
    width: 100%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}


.cadastro-btn{
    background-color: #1F4B73;
    color: white;
    padding: 0.5rem 2rem;
    border: none;
    font-size: 1rem;
    transition: 500ms;
    margin-right: 2vw;
    margin-top: 2vw;
}

.cadastro-btn:hover{
    cursor: pointer;
    background-color: #2b72b4;
    box-shadow: 0 0 8px rgb(57, 57, 255);
}