.sub-title{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: #1F4B73;
}

.sub-title h2{
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 1rem;
}

.container-contas{
    display: flex;
    flex-direction: column;
}

.status-solicitacoes{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    height: fit-content;
    overflow: visible;
}