.card-solicitacao {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 85%;
    margin: 20px 0 0 60px;
    justify-content: start;
  }
  
  .item {
    width: 60vw;
    height: 5rem;
    position: relative;
    padding: 1.5rem 2rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px rgb(185, 185, 185);
    margin: 1rem auto;
  }
  
  .item:first-child {
    border-top: none;
  }
  
  .item h2{
    font-size: 1.2rem;
    text-align: left;
  }

  .nome-pessoa{
    width: 15%;
  }

  .nome-edital{
    width: 25%;
  }

  img {
    aspect-ratio: 1;
    height: 100%;
  }
  
  button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  /* Estilização adicional para simular as cores e estilos da imagem */
  span:nth-child(4) {
    flex-grow: 1;
  }
  
  span:nth-child(4)[style*="Lista de espera"] {
    color: green;
  }
  
  span:nth-child(4)[style*="Em análise"] {
    color: orange;
  }
  