.upper-cadastrados{
    display: flex;
    align-items: center;
   justify-content: space-between;
    width: 80%;
    margin: auto;
}

.btns-cadastro{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.btn-cadastro{
    color: white;
    background-color: #1F4B73;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.title-thin{
    font-weight: 300;
    width: 80%;
    margin: 1rem auto;
    display: flex;
}

.filter-ico{
    width: 80%;
    margin: auto;
    background-color: white;
    display: flex;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgb(167, 167, 167);
}

#btn-filter{
    transition: 500ms;
}

#btn-filter:hover{
    cursor: pointer;
    opacity: 0.6;
}

.filters{
    width: 80%;
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: auto;
    z-index: 2;
    transform: translateY(-0.5rem);
    border-radius: 0 0 0.5rem 0.5rem;
}

.filters ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.5rem;
}

.filter-ico{
    z-index: 3;
}

.filters-assistente select{
    padding: 0.6rem 1.5rem;
  border: none;
  background-color: #1F4B73;
  color: white;
  font-family: 'Poppins', sans-serif;
  border-radius: 0.5rem;
}

.filters-assistente ul {
    list-style: none;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 0.5rem;
}

.filters-assistente{
    width: 80%;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin: auto;
  z-index: 2;
  transform: translateY(-0.5rem);
  border-radius: 0 0 0.5rem 0.5rem;
}