.decision-buttons {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }

  .button-deferido, .button-indeferido {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .button-deferido {
    background-color: #4CAF50; /* Cor esverdeada */
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(171, 171, 171);
  }

  .button-deferido:hover {
    background-color: #45a049;
  }

  .button-indeferido {
    background-color: #f44336; /* Cor avermelhada */
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(171, 171, 171);
  }

  .button-indeferido:hover {
    background-color: #d32f2f;
  }

  .fill-container{
    overflow-x: hidden;
  }

  .button-pdf{
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(171, 171, 171);
  }

  .buttons-box{
    display: flex;
    height: fit-content;
    justify-content: space-around;
    align-items: center;
  }

  .buttons-box button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  