.container-solicitacoes-assistente{
    display: flex;
    justify-content: center;
}
.box-solicitacao{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.solicitacao{
    padding: 5px;
    width: 100% !important;
    margin-left: 0 !important;
}

.box-solicitacao h2{
    font-size: 0.8rem;
    opacity: 0.7;
}