.container-contas{
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 5vh 0 0 17vw;
}

.upper-contas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1F4B73;
    margin-bottom: 2rem;
}

.upper-contas a{
    color: white;
    background-color: #1F4B73;
    padding: 1vh 3vh;
    border-radius: 1.5vh;
    transition: all 0.4s;
    box-shadow: 0.5px  0.5px 10px rgb(116, 116, 116);
}

.upper-contas a:hover{
    opacity: 0.7;
    cursor: pointer;
    box-shadow: 0px  0px 0px rgb(0, 0, 0);
}

.novos-colaboradores{
    margin: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.novos-colaboradores h2, .historico h2{
    color: #1F4B73;
    margin: 0 0 2vh 0;
}

.historico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 7vh;
}

.novos-colaboradores .solicitacoes{
    background-color: white;
    max-width: 80vw;
    min-height: 10vh;
    border-radius: 3vh;
}

.historico .solicitacoes{
    width: 90%;
    min-height: 10vh;
    border-radius: 3vh;
}

@media screen and (max-width: 1000px){

    .upper-contas{
        width: 75%;
        margin: auto;
    }

    .upper-contas h1{
        font-size: 4vw;
    }

    .upper-contas a{
        font-size: 2vw;
    }

    .container-contas{
        margin-top: 13vh;
        margin-left: 0;
        width: 100%;
    }

    .novos-colaboradores h2, .historico h2{
        font-size: 2.8vw;
    }

    .historico {
        margin: 0;
        margin-right: 10rem;
        align-items: center;
        max-width: 80%;
    }

    h2 {
        font-size: medium;
        
    }
}

