$primary:#1F4B73;
$background: #F5F5F5;
$success: #499468;
$error: #EF3E36;

$primaryblack: #1D1D1B;

$grey: #52525C;
$lightgrey: #CFCFCF;

body,html {
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

