@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container-inscricao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4vw;
    background-color: white;
    width: 60vw;
    height: fit-content;
    gap: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 4px rgb(175, 175, 175) ;
}

.school-logo{
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.school-logo img{
    width: 12vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 0 4px rgb(146, 146, 146);
}

.container-inscricao h1, h2, h4{
    color: #1F4B73;
}

.container-inscricao h4{
    text-align: justify;
    margin-top: 1rem;
}

.info-inscricao{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
}

.cadastro-btn{
    background-color: #1F4B73;
    color: white;
    padding: 0.5rem 2rem;
    border: none;
    font-size: 1.2rem;
    transition: 500ms;
}

.cadastro-btn:hover{
    cursor: pointer;
    background-color: #2b72b4;
    box-shadow: 0 0 8px rgb(57, 57, 255);
}

@media screen and (max-width: 768px){
    .container-inscricao{
        width: 80vw;
    }
    
}
