@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


.alternate{
    width: 97%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem 0 0 0;
    gap: 0.5vw;
    opacity: 0.7;
    transition: all 0.4s;
}

.alternate:hover{
    opacity: 1;
    cursor: pointer;
}
.user-sidebar{
    width:5vw;
    height:5vw;
}

.alternate h2{
    font-size: 0.8rem;
    font-family: 'Overlock', cursive;
    font-weight:100;
    color: white;
}

/* Styling the popup for switching profiles */

.backdrop{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: black;
    z-index: 21;
    opacity: 0.5;
}

.switch-popup{
    width: 40vw;
    height: 80vh;
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 22;
    margin: 7vh 30vw;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.popup-upper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
}

.popup-upper a{
    transition: 0.5s;
}

.popup-upper a:hover{
    cursor: pointer;
    opacity: 0.6;
}

.menu-itens ul li a{
    width: 90% !important;
    margin-left: 0 !important;
    font-size: 0.8rem !important;
}

.sidebar {
    transition: transform 0.3s ease; /* Adiciona transição suave para transformar propriedade */
  }
  
  .hidden {
    transform: translateX(-100%); /* Assume que você está movendo a sidebar para fora da tela para a esquerda */
  }
  

/* ---------------------------------------- */