@import '../../../Assets/theme/global.module.scss';
.container {

    cursor: pointer;
    background-color: $primary;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 4px 16px;
    border-radius: 8px;
    .text{
        text-transform: capitalize;
        font-size: 16px;
    }
    &.active, &:hover {
        color: $primary;
        background-color: white;
    }
    transition: all .2s ease-out;

    
}