.page h1{
    color: white;
    background-color: #dedede;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
}

#senha-entidade{
    display: flex;
    justify-content: left;
    
    gap: 0.2rem;
    align-items: center;
}

#senha-entidade input[type="password"], #senha-entidade input[type="text"]{
    height: 100%;
    width: 40%;
    border:1px solid #c8c8c8;
    background:#FFF;
    margin:0 1rem 5px 0;
    height: 40px;
    padding: 0 1rem;

}

input[type="number"]::-webkit-scrollbar{
    display: none;
}


.btn-field{
    width: 100%;
    display: flex;
    justify-content: center;
}

#contact-submit{
    justify-content: center;
    display: flex;
    align-items: center;
}

.hidden-page{
    display: none;
}

.new-entity-filter{
    margin-bottom: 4vh;
}

.new-entity-filter select{
    width: 3.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    max-height: 100px;
}

 .registered-data li{
    width: fit-content;
 }

 .registered-data li h2{
    font-size: 1rem;
    color: #1F4B73;
 }

.registered-data {
    list-style: none;
    width: 100%;    justify-content: left;
}