.colaboracao-status{
    width: 50%;
    justify-content: center;
}

.colaboracao-status h2{
    font-size: 1rem;
}

@media screen and (max-width: 1000px){
    .colaboracao-status h2{
        display: block;
    }
}