.edital-card a{
    text-decoration: underline;
    color: rgb(41, 114, 241);
    transition: 500ms;
}

.edital-card a:hover{
    opacity: 0.6;
    text-decoration: none;
}

.logo-card{
    aspect-ratio: 1;
    height: 60%;
}