.container {
    display: flex;
    flex-direction: column;
    .chartwrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 64px;
        .chartdisplay{
            max-width: fit-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 16px;
            >span{
                max-width: 40%;
            }
            .chart{
                position: relative;
                .percent{
                    position: absolute;
                    font-size: 14px;
                }

            }
        }
    }
    .sections{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        @media(max-width: 770px ){
            svg{
                width: 30px;
                height: 30px;
            }
        }
    }
}