  /* Estilos para o formulário */
  .form-group {
    margin-bottom: 15px;
    display: flex !important;
    flex-direction: row;
    align-items: center !important;
    padding: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0;
    font-weight: bold;
  }
  

  
  /* Estilos para os checkboxes */
  .form-check {
    margin-top: 0;
  }
  
  .form-check-input {
    margin-right: 10px;
  }
  
 
  
  /* Estilos para área de texto */
  .form-control textarea {
    height: 100px; /* Altura fixa para a área de texto */
  }

  #title-action{
    font-size: 0.8rem;
    opacity: 0.6;
    margin: auto;
    margin-left: 2rem;
  }

  #survey-form-next{
    display: flex;
    flex-direction: column !important;
    align-items: center;
    gap: 2rem;
  }
  

  



  
  