@import '../../../../Assets/theme/colors.module.scss';

.container {
    background-color: white;
    min-height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 40px;
    margin: 0;

    .left {
        flex: 1;
    }

    .logo {
        -webkit-user-drag: none;
        width: auto;
        height: 70px;
        @media(max-width:390px) {
            height: 60px;
        }
    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;

        @media (max-width: 390px) {
            gap: 10px;
        }
    }
}