.candidato-info-assistente{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding-top: 0.8rem;
}

.candidato-info-assistente div{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.candidato-info-assistente div h2{
    font-weight: 300;
    font-style: italic;
    font-size: 0.8rem;
}