.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    >h1{
        text-align: start;
    }
    .selection{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
        width: 40%;
        >div{
            flex-grow: 1;
        }
    }
}