.bg-image{
    width: fit-content;
    height: fit-content;
    display: flex;
    background-image: url("../../Assets/camera-placeholder.jpg");
    background-size: contain;
    border-radius: 50%;
}

.user-photo img{
    border-radius: 50%;
    height: 15vw;
    box-shadow: 0px 0px 10px rgb(188, 188, 188);
    transition: all 0.5s;
}

.user-photo img:hover{
    opacity: 0.6;
    cursor: pointer;
    filter: blur(2px);
}

.user-photo{
    display: flex;
    justify-content: space-between;
    padding: 2vw 8vw;
    align-items: center;
}

.side-photo{
    height: 14vh;
    width: 20vw;
    background-color: white;
    border-radius: 4vh;
}

.upper-info{
    width: 85%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.personal-info{
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    align-items: center;
}

.personal-info a{
    transition: all 0.6s;
}

.personal-info a:hover{
    opacity: 0.6;
}

.profile-candidate{
    display: flex;
    justify-content: center;
}


.btn-alterar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5vw;
    font-family: 'Poppins', sans-serif;
    margin: 2vh 0 0 0;
    color: white;
    background-color: #1F4B73;
    padding: 1.5vh 3vh;
    border-radius: 2vh;
    transition: all 0.6s;
}

.btn-alterar:hover{
    opacity: 0.6;
}