@import '../../Assets/theme/global.module.scss';
.button{
    box-shadow: none !important;
    width: fit-content !important;
    border: 2px solid transparent !important;
    &:focus{
        border: 2px solid $lightgrey !important;
    }
}

.confirm{
    background-color: $primary !important;
    @extend .button
}
.cancel{
    background-color: $error !important;
    @extend .button

}
.text{
    font-size: large !important;
    color: $lightgrey;
}
.title{
    font-size: 32px !important;
}
.popup{
    border-radius: 8px !important;
}

.actions{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
}

