.selection{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    width: 60%;
    
    @media(max-width:1300px){
        width: 70%;
        font-size: 14px;
    }
    @media(max-width:660px){
        flex-direction: column;
        gap: 0px;
        width: 100%;
        font-size: 14px;
    }
    >div{
        flex-grow: 1;
        flex-basis: content;
        max-width: 300px;
    }
}