@import '../../../Assets/theme/global.module.scss';
.container{    
    border-collapse: collapse;
    background: none !important;
    border: none;
    text-align: center;
    color: $primary;
    font-size: 14px;
    font-weight: 500;
    width: auto;
    white-space: nowrap;
    @media (max-width: 1080px) {
        font-size: 10px;
    }
    &.divider{
        border-right: 1px solid $lightgrey;
    }
    .content{
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;
        justify-content: center;
        button{
            font-size: 12px;
            align-items: center;
            justify-content: center;
            @media (max-width: 1080px) {
                width: 50px;
                height: 30px;
                font-size: 9px;
            }
        }
            
    }
}