@import "../../Assets/theme/global.module.scss";
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: white;
    text-transform: capitalize;
    color: $primary;
    border: 2px solid $primary;
    border-radius: 5px;
    transition: background-color .2s ease-in;
    width: fit-content;
    &:hover{
        color: white;
        background-color: $primary;
    }
}