@import "../../Assets/theme/global.module.scss";

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    max-height: fit-content !important;
    background-color: white;
    text-transform: capitalize;
    color: $primary;
    border: 2px solid $primary;
    border-radius: 5px;
    transition: background-color .2s ease-in;
    width: fit-content;

    &:hover {
        border: 2px solid white;

        svg {
            color: white;
        }

        color: white;
        background-color: $primary;
    }

    &.danger {
        border-color: $error;
        background-color: $error;
        color: white;

        &:hover {
            color: $error;
            background-color: white;
        }
    }

    &:disabled {
        color: $grey;
        background-color: $lightgrey;
        border-color: $grey;
    }
}

@media(max-width:400px) {

    .button {
        height: 30px;
        font-size: 0.9rem;

        svg {
            width: 25px;
            height: auto;
        }
    }

}